@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.align_div{
	/*background-color : yellow;*/
	width:100%;
	text-align:center;
}

.content{
	margin:0 auto;
	width:1028px;
	text-align:left;
}


.menu{
	height:50px;
	list-style: none;
	margin:auto;
	font-size: 20px;
}

.menu_name{
	padding-bottom:9px;
	font-size:15px;
	text-align:center;
}

.menu_set{
	float: left;
	position: relative;
	padding-top:10px;
	height:40px;
	width:130px;
	/*margin-right:40px;*/
}

.menu_submenu{
	/*디자인*/
	font-size: 15px;
	width:130px;
	position : absolute;
	background-color : #ffffff;
	z-index:2;
	display:none;
	/*text-align:center;*/
	font-weight:bold;
	padding: 0px 10px 2px 10px;
}

.menu_submenu li{
	padding:10px 5px 10px 5px;
	/*border-bottom:1px solid silver;*/
	font-size:9pt;
}


.login_set{
	float: right;
	position: relative;
	padding-top:12px;
	padding-right:28px;
	font-size:10pt;
	font-weight:bold;
}


.board{
	height:360px;
	list-style: none;
	margin :auto;
}


.board_set{
	float: right;
	position: relative;
	padding:20px 10px 10px 10px;
	width:450px;
}

.faq{
	margin-top:10px;
}

.link{
	margin-top:20px;
	width:380px;
	height:50px;
	background-color:#EAEAEA;
	padding-top:7px;
	padding-right:10px;
	border-radius:10px 10px 10px 10px;
	text-align:right;
}

.board_title{
	font-size:40pt;
	font-weight:bold;
	border-radius:0px 0px 10px 10px;
	background-color:#C40009;
	color:white;
	text-align:right;
	padding-right:30px;
	margin-bottom:20px;
}

.board_notice{
	float: left;
	position: relative;
	padding:10px 10px 10px 10px;
	width:550px;
	margin-top:10px;
	margin-bottom:10px;
	height:500px;
	background-color:white;
	border:1px solid silver;
	border-radius:10px 10px 10px 10px;
}

.board_label{
	font-size: 12pt;
	font-weight:bold;
	height:30px;
	border-bottom:1px solid silver;
}

.board_list_set{
	padding-top:10px;
}


.board_list{
	padding : auto;
	height:25px;
	display : block;
}

.board_list_name{
	float: left;
	position: relative;
	font-size:11pt;
}

.board_list_date{
	float:right;
	position:relative;
	font-size : 13px;
	font-color : gray;
}

.notice_list_photo{
	float: left;
	position: relative;
	font-size:15px;
	font-weight:bold;
	margin:0px 20px 10px 10px;
}


.notice_list_name{
	font-size:11pt;
	font-weight:bold;
	padding-left:10px;
	text-overflow: ellipsis;
	overflow: hidden;
}


.notice_list_date{
	font-size : 10pt;
	color : silver;
	margin-bottom:10px;
	vertical-align:top;
	padding-left:10px;
}

.notice_list_contents{
	font-size : 10pt;
	vertical-align:top;
	width:400px;
	padding-left:10px;
}

.main_plantable{
	margin-bottom:10px;
	padding:5px;
	/*border:1px solid silver;*/
}

.sitemap{
	display: table;
	height:250px;
	list-style: none;
	background-color : #FCFCFC;
	width:100%;
	text-align:center;

}

.sitemap_container{
	display: table;
	width:1024px;
	margin-left: auto;
	margin-right: auto;
	padding-top:60px;
	padding-right:auto;
	padding-left:auto;
	overflow:auto;
	text-align:left;

}

.sitemap_element{
	float: left;
	position: relative;
	/*padding-right:40px;*/
	padding-left:85px;
}

.sitemap_element li>a{
	font-size:9pt;
	color:gray;
	text-decoration:none;
}
.sitemap_element_title{
	padding-bottom:10px;
	font-size:15px;
	font-weight:bold;
	text-align:left;
}

.join_set_container{
	margin-top:10px;
	padding-top : 30px;
	height:300px;
	background-color:#E4F7BA;
	border-radius: 10px 10px 10px 10px;
}


.join_set{
	height:60px;
	position:relative;
	padding: 10px;
}

.join_label{
	font-size : 15px;
	width:100px;
	font-weight:bold;
	float:left;
}

.join_set input{
	/*margin-top : 10px;*/
	margin-left:30px;
}
.sitemap_element_title li{
	font-size:10px;

}

.credit{
	height:30px;
	list-style: none;
	margin:auto;
	font-size: 20px;
	background-color : black;
	text-align:right;
}

.not_display{
	display:none;
}

.side_menu{
	width:180px;
	/*border-right:1px dashed gray;*/
	list-style: none;
	margin-top:30px;
}

.side_menuset{
	font-size:13pt;
	list-style: none;
	text-align:right;
	font-family:Dotum,Gulim,Tahoma,sans-serif;
}

.side_menuset li{
	padding : 10px 30px 10px 10px;
	background-color:black;
	color:white;
	font-size:11pt;
}

.logo_partition{
	width:1028px;
	height:140px;
	padding-top:30px;
}

.side_navi
{
	text-align : right;
	border-bottom:1px dashed silver;
	padding-bottom:10px;
	margin-bottom:30px;
}

.contents_wrapper
{
	 padding-left:30px;
	 padding-top:10px;
	 padding-bottom:50px;
	 width:810px;
	/* background-color:orange;*/
	 float:left;
}

.board_post_list
{
	height : 30px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid silver;
}

.board_header
{
	height : 40px;
	padding-top:10px;
	padding-bottom:5px;
	text-align:center;
	background-color:gray;
	font-weight:bold;
	color:white;
	font-size: 10pt;
	border-radius:6px 6px 0px 0px;
}

.board_postnum
{
	float:left;
	width:70px;
	text-align:center;
	/*background-color:black;*/
}

.board_postname
{
	float:left;
	width:450px;
	overflow:hidden;
	white-space:nowrap;        /* 길이보다 텍스트의 길이가 길경우 ... 으로 보여준다.*/
    text-overflow:ellipsis;
	/*background-color:red;*/
}

.board_author
{
	float:left;
	width:100px;
	text-align:center;
	/*background-color:green;*/
}

.board_date
{
	float:left;
	width:80px;
	text-align:center;
	/*background-color:gray;*/
}

.board_hit
{
	float:left;
	width:70px;
	text-align:center;
	/*background-color:yellow;*/
}

.write_btn{
	text-align:right;
	font-weight:bold;
	margin-bottom:5px;
}

.board_body
{
	border-bottom:1px solid black;
	font-size: 10pt;
}

.board_footer{
	/*border-top:1px solid black;*/
	margin-top:10px;
	float:right;
}

.paging
{
	list-style:none;
	margin-top:0px;
}

.paging li
{
	display:inline;
}

.page_num{
	/*margin-left:5px;
	margin-right:5px;*/
}
.posting_window_view{
	margin-bottom:10px;
	padding:10px;
	/*background-color : #F6F6F6;*/
	border-top:1px solid #EAEAEA;
	border-bottom:1px solid #EAEAEA;

}

.post_title_view{
	border-bottom : 3px solid black;
	padding:10px;
	font-weight:bold;
	font-size:15pt;
}


.post_info_view{
	position:relative;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	height:40px;
	border-bottom:1px solid silver;
}

.post_info_view_author{
	float:left;
}

.post_info_view_date{
	float:right;
	font-style:italic;
	color:gray;
}

.post_body_view{
	padding: 40px 10px 10px 10px;
}

.reply_input{
	height:100px;
	border : 1px solid silver;
}
.reply_input_body{
	margin-top:5px;
	margin-left:5px;
	float:left;
}

.post_modify_delete_btn{
	padding-bottom:10px;
	text-align:right;
}

.post_modify_delete_btn span{
	margin-left:10px;
}

#reply_submit_btn{
	margin-top:5px;
	margin-right:5px;
	padding-top:30px;
	text-align:center;
	height:85px;
	width:90px;
	float:right;
	color:white;
	background-color:#7C1318;
}


.reply_label{
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	border-top:2px solid black;
	border-bottom:1px solid silver;
	border-radius : 6px 6px 6px 6px;
	font-weight:bold;
	background-color:#F6F6F6;
}
.reply_container{
	width:758px;
}
.reply_wrapper
{
	width:760px;
	border-bottom:1px solid silver;
	vertical-align:top;
	margin-top:15px;
}

.reply_header
{
	width:100px;
	height:50px;
	display:in-line;
	padding-right:10px;
	padding-top:10px;
	valign:top;
}
.reply_body{
	word-break:break-all;
	padding-top:10px;
}

.reply_author{
	font-size:10pt;
	font-weight:bold;
}

.reply_date{
	font-size:8pt;
	color:gray;
}

.reply_delete{
	text-align:right;
}


.write_post_title{
	width:775px;
	height:30px;
	margin-bottom:10px;
}

.write_post_body{
	width:775px;
}

.member_info_table_header{
	text-align:right;
	paddinhttp://kuspa.kr/resource/image/home_btn.pngg-right:5px;
	font-weight:bold;
	width:100px;
}

.file_upload_div{
	margin-top:10px
}

.plan_rowtitle{
	width:100px;
	text-align:center;
	font-weight:bold;
}

.plan_header{
	font-size:20px;
	font-weight:bold;
	margin-bottom:20px;
}

.archive_year{
	float:left;
	width:80px;
	height:100%;
}

.member_year{
	float:left;
	width:100px;
	height:100%;
}

.member_year > ul{
	list-style:none;
	font-weight:bold;
	padding-left:0px;
}

.member_info{
	float:right;
	text-align:right;
	width:650px;
	padding-right:10px;
	margin-bottom:20px;
}

.member_table{
}
.member_tableheader{
	width:190px;
	font-weight:bold;
}
.member_header{
	font-size:16pt;
	font-weight:bold;
}
.archive_year > ul{
	list-style:none;
	font-weight:bold;
	padding-left:0px;
}

.archive_Contents{
	padding-left:30px;
	float:right;
	width:700px;
}

.archive_Contents table{
	margin-bottom:70px;
}
.archive_rowtitle{
	text-align:center;
	width:200px;
}

.archive_image{
	text-align:center;
}

.archive_image > img{
	width:300px;
	height:400px;
}

.archive_header{
	text-align:center;
	padding:10px;
	background-color: #FFFCFC;
	border-radius:0px 0px 5px 5px;
}

.archive_flag{
	background-color:black;
	color:white;
	padding-left:30px;
	height:50px;
	border-radius:0px 0px 5px 5px;

}

A:link {COLOR:#000000; text-decoration:none}
A:visited {COLOR:#000000; text-decoration:none}
A:active {COLOR:#000000; text-decoration:none}
A:hover {COLOR:#66CCCC; text-decoration:none}



.write_btn A:link {COLOR:#000000; text-decoration:none}
.write_btn A:visited {COLOR:#000000; text-decoration:none}
.write_btn A:active {COLOR:#000000; text-decoration:none}
.write_btn A:hover {COLOR:#66CC66; text-decoration:none}

/*.menu_set A:hover{COLOR:#66CCCC; text-decoration:none}*/

.menu_submenu A:link {COLOR:#666666; text-decoration:none}
.menu_submenu A:visited {COLOR:#666666; text-decoration:none}
.menu_submenu A:active {COLOR:#666666; text-decoration:none}
.menu_submenu A:hover {COLOR:#000000; text-decoration:none}


.login_set A:link{COLOR:#FFFFFF; text-decoration:none}
.login_set A:hover{COLOR:#FFE400; text-decoration:none}

.side_menu A:link {COLOR:#FFFFFF; text-decoration:none}
.side_menu A:visited {COLOR:#FFFFFF; text-decoration:none}
.side_menu A:active {COLOR:#FFFFFF; text-decoration:none}
.side_menu A:hover {COLOR:#FFFFFF; text-decoration:none}

